#colors{background-color:black;}
.button {
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  color: black;
  padding: 0px 0px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  outline: none
}